@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Neucha&family=Roboto+Mono:ital@1&display=swap');
html {
    font-size: 16px;
}


/* Redimensión de fuente utilizando rem */

p {
    font-size: 8px;
    color: white;
    text-align: center;
}

h1 {
    font-size: 30px;
    text-align: center;
    color: white;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: 1.05rem;
}


/**************************/


/* clases predefinidas */

* {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Diseño de columnas */

.column-1 {
    width: 100%;
    height: 100%;
}

.column-2 {
    width: 50%;
    float: left;
}

.column-3 {
    width: 33.33%;
    float: left;
}

.column-4 {
    width: 25%;
    float: left;
}

.column-5 {
    width: 20%;
    float: left;
}

.column-6 {
    width: 16.66%;
    float: left;
}

.column-75 {
    width: 75%;
    float: left;
}


/* Otras clases */

.color-submit {
    background-color: orange;
    border-radius: 7px;
}

.styles-div {
    border: 1px solid black;
    border-radius: 15px;
    padding: 3%;
}

input {
    width: 100%;
    background-color: black;
    border-color: white;
    color: white;
    height: 7vh;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.botones {
    width: 48%;
}

#resultado {
    text-align: center;
    color: red;
}

footer {
    color: white;
    text-align: center;
    height: 10vh;
}


/* clase para centrar contenido en horizontal y vertical (lo centra respecto al elemento padre) */

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

@media only screen and (max-width: 600px) {
    /* column-2 pasará de tener 50% a 100% */
    .column-2 {
        width: 100%;
    }
    /* column-3 pasará de tener 33.33% a 100% */
    .column-3 {
        width: 100%;
    }
    /* column-4 pasará de tener 25% a 50% */
    .column-4 {
        width: 50%;
    }
}